.article {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: grid;
    place-items: center;
}

.header {
    font-size: 80px;
    color: white;
    text-align: center;
}